<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>This is form test page.</title>
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <p>
            <div th:text="${message}"></div>
        </p>
        <form accept="form" method="post">
            <ul>
                <li>Name: <input type="text" name="name" size="20"></li>
                <li>Age: <input type="text" name="age" size="20"></li>
            </ul>
            <input type="submit" value="Login">
        </form>
    </body>
</html>